
<div class="hero-container">
    
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/poze-exterior/IMG_2202.jpg" alt="Angular Carousel 1">
          </div>
        </ng-template>
      
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/poze-exterior/IMG_2217.jpg" alt="Angular Carousel 2">
          </div>
        </ng-template>
      
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/poze-exterior/IMG_2318.jpg" alt="Angular Carousel 2">
          </div>
        </ng-template>
  
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/poze-interior/IMG_2242.jpg" alt="Angular Carousel 2">
          </div>
        </ng-template>
  
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/poze-interior/IMG_2254.jpg" alt="Angular Carousel 2">
          </div>
        </ng-template>
  
      </ngb-carousel>
    
  </div>

  <section class="home-section">
    <form id="register-form"  >
    <div class="home-section-header">
      <div>
        <p style="text-align: center; font-style: italic;"class="mat-body-1" fxFlex.gt-xs="70" fxFlexOffset.gt-xs="15">
          Casa Diana vă primește cu căldură într-un loc pitoresc, la poalele Masivului Rarău.
          Casa oferă: 5 camere, fiecare utilată cu baie proprie, televizor și pat dublu, o bucătărie comună, complet utilată, un living comun, terasă, foișor.
          La doar 30 de minute de mers cu mașina vă așteaptă Pârtia Rarău și tot la doar 30 de minute vă așteaptă și Munții Rarău.
        </p>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div>
          <h2 class="mat-subheading-2 dark-secondary-text" style="fontWeight: bold">Localizare</h2>
          <h2 class="mat-subheading-2 dark-secondary-text">Județul Suceava, comuna Pojorâta, Strada Transrarau, nr. 800A </h2>
          <h2 class="mat-subheading-2 dark-secondary-text" style="fontWeight: bold">Contact</h2>
          <h2 class="mat-subheading-2 dark-secondary-text">
                0757220397
        </h2>
        </div>
        
      
        
        <div>
          
        </div>
      </div>
    </div>
  </form>

  