<header class="header">
    <div class="title" [routerLink]="['/home']">{{title}}</div>
      <div class="menu">
        <div  class="menu-item">
          <a class="link menu-item" [routerLink]="['/about']">
            <img src="assets/navbar/icon-about.png" class="icon" id="ic-login"> 
            <div class="menu-text">About</div>     
          </a>
          
        </div>
        <div *ngIf="!isLoggedIn" class="menu-item">
          <a class="link menu-item" [routerLink]="['/register']">
            <img src="assets/navbar/register-icon.png" class="icon" id="ic-login"> 
            <div class="menu-text">Register</div>     
          </a>
          <a class="link menu-item" [routerLink]="['/login']">
            <img src="assets/navbar/log-in.png" class="icon" id="ic-login"> 
            <div class="menu-text">Log-In</div>  
          </a>
          
        </div>
        <div *ngIf="isLoggedIn && isRoleUser()" class="menu-item">
          <a class="link menu-item" [routerLink]="['/user-detail']" > 
            <img src="assets/navbar/ic-user.png" class="icon" id="ic-logout">
            <div class="menu-text">Account</div>
          </a>
          <a class="link menu-item" [routerLink]="['/login']" (click)="logout()"> 
            <img src="assets/navbar/ic-logout.png" class="icon" id="ic-logout">
            <div class="menu-text">Logout</div>
          </a>
        </div>
        <div *ngIf="isLoggedIn && !isRoleUser()" class="menu-item">
          <a class="link menu-item" [routerLink]="['/admin-rooms']" > Manage Rooms </a>
          <a class="link menu-item" [routerLink]="['/admin-reservations']" > Manage Reservations </a>
          <a class="link menu-item" [routerLink]="['/login']" (click)="logout()"> 
            <img src="assets/navbar/ic-logout.png" class="icon" id="ic-logout">
            <div class="menu-text">Logout</div>
          </a>
        </div>
      </div>
   
  </header>