
<div class="hero-container">
    
  <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/poze-exterior/IMG_2202.jpg" alt="Angular Carousel 1">
        </div>
      </ng-template>
    
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/poze-exterior/IMG_2217.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>
    
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/poze-exterior/IMG_2318.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/poze-interior/IMG_2242.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/poze-interior/IMG_2254.jpg" alt="Angular Carousel 2">
        </div>
      </ng-template>

    </ngb-carousel>
  
</div>

<section class="home-section">
  <form id="register-form" [formGroup]="range" >
  <div class="home-section-header">
    
    <div fxLayout="column" fxLayoutAlign="center center">
      <div>
        <h2 class="mat-subheading-2 dark-secondary-text">Alege perioada de rezervare</h2>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>PERIOADA REZERVARE</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="minDate" >
          <input matStartDate placeholder="Start date" formControlName="start" (dateChange)="onChangeEvent($event)">
          <input matEndDate placeholder="End date" formControlName="end" (dateChange)="onChangeEvent($event)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    
      
      <div>
        
      </div>
    </div>
  </div>
</form>
  
  <div class="room-body">
    
    <div class="room" *ngFor="let room of showRooms" >
      <div class="rooms-home-display" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center"  >
      <mat-card class="rooms-suites" fxFlex="50%;" fxFlex.sm="100%">
        <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
          <h2>Camera {{room.number}}</h2>
          
        </mat-card-header> 
        <mat-card-header style="margin-top: 415px" fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
          <h2>Pret {{room.price}}</h2>
          
        </mat-card-header> 
        <mat-card-actions fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
         <button *ngIf="isRoleUser() && userHasSelectedPeriod" (click)="openAddReservation(room)" mat-raised-button="let element" class="button" color="primary" type="button">Book Now!</button>
          
        </mat-card-actions>    
      </mat-card>
      </div>
    </div>
    
  </div>
</section>

<div *ngIf="showModal" class="my-modal">
  <h1 class="title">Reservation confirmation</h1>
  <p class="subtitle">Are you sure you want to book this room?</p>
  <div class="buttons">
    <button class="cancel-btn" type="button" (click)="cancelModal()">
      No
    </button>
    <button class="submit-btn" type="button" (click)="submit()">
      Yes
    </button>
  </div>
</div>